backup_2025_mpw/

# Peri 
*.gtkw
*.vcd
/peri_mpw/PIM_MACRO_DUMMY_1.sv
/peri_mpw/PIM_MACRO_DUMMY_2.sv
/peri_mpw/PERI_TOP.sv
/peri_mpw/output_buffer.sv
/peri_mpw/peri_top
/peri_mpw/.gitignore
/peri_mpw/README.md


# RISC-V 
/riscv_mpw/rtl/peripheral/peri_module/*
/riscv_mpw/rtl/memory/*.v
/riscv_mpw/rtl/core/DW_div_pipe.v
/riscv_mpw/rtl/core/DW_div.v
/riscv_mpw/rtl/core/DW02_mult_2_stage.v
/riscv_mpw/rtl/core/DW02_mult_3_stage.v
/riscv_mpw/rtl/core/DW02_mult.v
*.bin
*.dump
*.elf
*.hex
*.out
*.vcd
*.pyc
*.xml
*.gtkw
*.inc
*.mem
/riscv_mpw/.gitignore
/riscv_mpw/.gitmodules
/riscv_mpw/README.md